
header{
    width:100% ;
    height: 56px;
    background-color: #fff;
    display: block;
    position: fixed;
    left: 0;
    top:0;
    z-index: 10000;
}
header section{
    width:1200px;
    height: 56px;
    margin: 0 auto;
}
header img{
    width: 64px;
    height: 44px;
    background-color: #24988B;
    padding: 6px 9px;
}
header img,header div,header p,header a{
    float: left;
    line-height: 56px;
    font-size: 14px;
}
header div{
    font-weight: 700;
    padding-left: 13px;

}
header p{
    width: 448px;
    height: 30px;
    position: relative;
    padding-left: 56px;

}
header input:nth-of-type(1){
    outline: 0;
    width: 446px;
    height: 28px;
    border-radius:100px;
    border:0; 
    border: 1px solid rgb(190, 191, 191);
}
header input:nth-of-type(2){
    width: 31px;
    height: 31px;
    border: 0;
    background-color: #24988b;
    border-radius: 30px;
    position: absolute;
    left: 472px;
    top: 14px;
}
.icon-sousuo{
    display: inline-block;
    position: absolute;
    left: 480px;
    top: 2px;
    color: rgb(248, 247, 247);
}
header a{
    padding-left: 30px;
}
header a:last-child{
    width: 78px;
    height: 20px;
    padding: 0;
    font-family: "Arial","Microsoft YaHei","宋体",sans-serif;
    transform: translateY(-100%) translateX(-70.71%) rotate(45deg);
    white-space: nowrap;
    border: 1px solid rgba(36,152,139,0.5);
    cursor: pointer;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 600;
    z-index: 10000;
    box-shadow: 0 0.25rem 0.5rem rgba(34,34,34,0.08);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    display: block;
    position: fixed;
    left: 100%;
    top: 52px;
    padding: 0.5em 2em;
    background-color: #fff;
    color: #24988B;

}
header a:last-child:hover{
    background-color: #24988b;
    color: #fff;
}
